body { background: #FFFFFF;}
body { font-family:arial, lucida sans, lucida, calibri, helvetica, sans-serif;}
body { font-size:12px;}
body { color:#000;}
h2 { font-size:133.33%;}
h3 { font-size:116.67%;}
h4 { font-size:100%;}
.master-wrapper-page { width:100%;}
.master-wrapper-content { width:100%;}
.master-wrapper-content { background: #FFFFFF;}
.master-wrapper-center-1 { background: #FFF;}
.master-wrapper-center-1 { width: 98%; }
.master-wrapper-center-2 { background: #FFF; }
.master-wrapper-center-2 { width: 80%; }
.master-wrapper-side-2 { width: 15%; }
.master-wrapper-center-3 { background: #FFF; }
.master-wrapper-center-3 { width: 65%; }
.master-wrapper-leftside-3 { width: 15%; }
.master-wrapper-rightside-3 { width: 15%; }
.header { background-color: #FFFFFF; }
.header { height: 120px; }
.header-link-logo { height: 58px; }
.header-logo { width: 50%; }
.header-logo { width: 54.90%; }
.header .ico-register { background: url(images/ico-register.gif) no-repeat; }
.header-selectors-wrapper { width: 500px; }
.header-links-wrapper { width: 45%; }
.header-links-wrapper { border-color: #9a9a9a; }
.header-links-wrapper { border-style: none; }
.header-links-wrapper { border-width: 1px; }
.header-links a { color: #D48F3A; }
.header-links a:hover { color: #F93; }
.header-links a.account { color: #000; }
.header-links { color: #f93; }
.header-links .customer-profile-summary  { width: 100%; }
.header-links .customer-profile-summary img  { max-width: 28px; }
.header-links .customer-profile-summary img  { max-height: 28px; }
.header-links .links  { line-height: 20px; }
.footer  { font-size: 91.67%; }
.footermenu a  { font-size: 90%; }
.footermenu a  { color: #444444; }
.page-title h1 .page-title h2  { font-size: 166.67%; }
td.fieldname  { font-size: 100%; }
.message-error  { font-size: 83.33%; }
.message-error  { color: red; }
.message-error  { font-weight: 700; }
h1 { font-size:150%;}
.accountsignaturetext { height: 100px; }
.accountsignaturetext { width: 500px; }
.shoppingcartquantitytext { font-size: 100%; }
.headermenu { background: #FFF; }
.headermenu { color: #FFF; }
.searchtext { font-size: #FFF; }
.searchtext { width: 100%; }
.searchboxtext { background: #FFFFFF; }
.searchboxtext { width: 70%; }
.searchboxtext { font-size: 116.67%; }
.searchboxbutton { border-style: solid; }
.searchboxbutton { border-width: 1px; }
.searchboxbutton { border-color: #333333; }
.searchboxbutton { background: #333333; }
.searchboxbutton { color: #444444; }
.searchboxbutton { font-weight: bold; }
.searchboxbutton { font-size: 116.67%; }
.searchboxbutton:hover { cursor: pointer; }
.buttonlight { background:#F80 }
.buttonlight { border-width: 1px; }
.buttonlight { border-style: solid; }
.buttonlight { border-color: #F80; }
.buttonlight { color: #FFF; }
.buttondark { background: #333; }
.buttondark { border-width: 1px; }
.buttondark { border-style: solid; }
.buttondark { border-color: #333; }
.buttondark { color: #FFF; }
.productlistaddtocartbutton { min-width: 90px; }
.pager a { font-size: 100%; }
.pager a:link { color: #555; }
.pager span { color: #F93; }
.pager span { font-size: 120%; }
.pager span { font-weight: 700; }
.block { color: #FFF; }
.block .title { color: #000000; }
.block .title { font-size: 90%; }
.block .title { font-weight: 700; }
.block .title { text-transform: uppercase; }
.block .title { background:#FFFFFF; }
.block .listbox { font-size: 91.67%; }
.block .listbox { line-height: 18px; }
.block .listbox { background: #404040; }
.block a { background: 700; }
.block a { color: #FFF; }
.block a { font-weight: 700; }
.block a { text-decoration: none; }
.buttondark { font-size: 91.67%; }
.buttonlight { font-size: 91.67%; }
.block-category-navigation .listbox .innerborder  { border-color: #333333; }
.block-category-navigation .listbox .innerborder  { border-style: solid; }
.block-category-navigation .listbox .innerborder  { border-width: 0px; }
.block-category-navigation .listbox .innerborder  { background-color: #FFFFFF; }
.block-category-navigation .listbox li  { border-style: solid; }
.block-category-navigation .listbox li  { border-color: darkgray; }
.block-category-navigation .listbox li  { border-width: 1px; }
.block-category-navigation .listbox li  { background-color: gray; }
.categorynavigation   a { color: black; }
.categorynavigation a:hover { color: darkblue; }
.block-category-navigation .listbox ul.t-group  { background-color: #D7D3B8; }
.block-category-navigation .listbox ul.t-group  { border-color: #D7D3B8; }
.block-category-navigation .listbox li span.t-arrow-next { background-image: url(../../../Content/2011.2.712/WebBlue/sprite.png); }
.block-account-navigation a.active { color: #F93; }
.block-account-navigation a.inactive { color: #FFF; }
.order-summary-content .totals { width: 50%; }
.order-summary-content .cart-collaterals { width: 45%; }
.order-summary-content .deal { width: 250px; }
.order-summary-content .shipping { width: 280px; }
.order-summary-content .cart { width: 100%; }
.wishlist-content .cart { width: 100%; }
.wishlistpage { width: 100%; }
.order-summary-content .cart .cart-item-row td.productpicture img { max-width: 75px; }
.order-summary-content .cart-footer { width: 100%; }
.order-summary-content .cart-footer { background: url(images/cart-footer-bg.gif) repeat-x bottom; }
.order-summary-content .cart-footer { min-height:160px; }
.cart_total_left { width:100%; }
.cart_total_left { height:21px; }
.removeiconbutton { background: url(images/ico-delete.gif) no-repeat; }
.removeiconbutton { max-width: 32px; }
.removeiconbutton { max-width: 15px; }
.solidlightboundingbox { border-color:#D7D7D7; }
.solidlightboundingbox { border-style:solid; }
.solidlightboundingbox { border-width:1px; }
.dottedlightboundingbox { border-color:#D7D7D7; }
.dottedlightboundingbox { border-style:dotted; }
.dottedlightboundingbox { border-width:1px; }
.dottedlightboundingbox { background:#F7F5E8; }
.title11Medium { font-weight:700; }
.title11Medium { color:#555; }
.title11Medium { font-size:116.67%; }
.title15Black { font-weight:700; }
.title15Black { color:#000; }
.title15Black { font-size:125%; }
.title12Black { font-weight:700; }
.title12Black { color:#000; }
.title12Black { font-size:100%; }
.font11Medium { color:#555; }
.font11Medium { font-size:91.67%; }
.fontWarning { color:Red; }
.fontStrikethrough { color:Red; }
.headerRow { color:#FFF; }
.headerRow { height:20px; }
.headerRow { background:url(images/cart-header-bg.gif) repeat-x 50%; }
.font11 { font-size:91.67%; }
.cartproductlink { color:#3a3a3a; }
.cartproductlink { font-weight:700; }
.cartproductlink { font-size:116.67%; }
.cartproductlink { text-decoration:none; }
.checkout-data .address-grid .address-item { width:200px; }
.checkout-data .checkout-payment-methods  { width:45%; }
.title12Medium { font-weight:700; }
.title12Medium { color:#555; }
.title12Medium { font-size:100%; }
.checkout-data .checkout-summary { width:50%; }
.checkout-data .confirm-order { height:180px; }
.checkout-data .confirm-order .shipping-info { width:30%; }
.checkout-data .confirm-order .billing-info { width:30%; }
.checkout-data .confirm-order .shipping-method { width:30%; }
.font12Medium { color:#555; }
.font12Medium { font-size:100%; }
.checkout-data .confirm-order .shipping-method .shippingOptionLI .shipping-option-description { color:darkgreen; }
.home-page-product-grid { width:520px; }
.home-page-product-grid .title { font-weight:700; }
.home-page-product-grid .title { color:#3A3A3A; }
.home-page-product-grid .title { text-align:center; }
.home-page-product-grid .title { text-transform:uppercase; }
.home-page-category-grid { width:520px; }
.home-page-category-grid a { color:#555; }
.home-page-category-grid .category-item { max-width:150px; }
.home-page-category-grid .category-item { background:url(images/home-cat-bg.gif) no-repeat 0 100%; }
.home-page-category-grid .category-item .title { background:url(images/home-cat-title.gif); }
.home-page-category-grid .category-item .title { font-weight:700; }
.home-page-category-grid .category-item .title { font-size:90%; }
.home-page-category-grid .category-item .title { height:1.8em; }
.home-page-category-grid .category-item .title { text-align:center; }
.bestsellers { width:520px; }
.bestsellers .title{ font-weight:700; }
.bestsellers .title{ test-transform:uppercase; }
.bestsellers .title{ font-size:116.67%; }
.bestsellers .title{ font-weight:700; }
.bestsellers .title{ color:#3A3A3A; }
.bestsellers .title{ text-align:center; }
.product-grid { text-align:center; }
.product-grid { width:520px; }
.product-list { width:98%; }
.product-list .product-list-item { border-style:solid; }
.product-list .product-list-item { border-color:darkgrey; }
.product-list .product-list-item { border-width:1px; }
.product-list .product-list-item { border-radius:4px; }
.producttitlelink a:hover{ color:#F93; }
.producttitlelink a:hover{ text-decoration:none; }
.producttitlelink a{ color:#3A3A3A; }
.producttitlelink a{ text-decoration:none; }
.producttitlelink a:hover{ overflow:visible; }
.producttitlelink a{ overflow:visible; }
.product-list .product-list-item .product-artist { font-style:italic; }
.product-list .product-list-item .product-artist { font-size:100%; }
.product-list .product-list-item .picture { max-width:80px; }
.product-list .product-list-item { width:95%; }
.product-list .product-list-item .picture a img { max-width:80px; }
.product-list .product-list-item .picture a img { max-height:80px; }
.product-list .product-list-item .picture { width:14.82%; }
.product-list .product-list-item .description  { width:25%; }
.product-list .product-list-item .description .product-title2 { font-style:italic; }
.product-list .product-list-item .description .product-title2 { font-size:100%; }
.product-list .product-list-item .description .product-title3 { font-style:italic; }
.product-list .product-list-item .description .product-title3 { font-size:83.33%; }
.product-list .product-list-item .product-variant-price-list { width:50%; }
.product-list .product-list-item .product-variant-price-list .old-price { color:darkgray; }
.product-list .product-list-item .product-variant-price-list .old-price { text-decoration:line-through; }
.product-list .product-list-item .noavailability { color:darkred; }
.featured-product-grid { width:95%; }
.featured-product-grid .product-grid-item  { font-size:91.67%; }
.featured-product-grid .product-grid-item .product-description .product-artist  { font-weight:bold; }
.featured-product-grid .product-grid-item .product-format   { font-size:75%; }
.featured-product-grid .product-grid-item .product-format   { text-transform:uppercase !important; }
.featured-product-grid .product-grid-item .product-price .price { color:#000000; }
.featured-product-grid .product-grid-item .product-price .price { font-size:100%; }
.featured-product-grid .product-grid-item .product-price .price { font-size:200%; }
.featured-product-grid .product-grid-item .product-price .price { font-weight:bold; }
.featured-product-grid .product-grid-item .picture img { max-width:85%; }
.featured-product-grid .product-grid-item  { width:100%; }
.featured-product-grid .product-set { width:100%; }
.featured-product-grid .product-grid-item .picture { max-height:126px; }
.featured-product-grid .product-grid-item .picture img { max-height:126px; }
.featured-product-grid .product-category .category-title { background:#FFFFFF; }
.featured-product-grid .product-category .category-title { border-bottom-color:#E5E4E0; }
.featured-product-grid .product-category .category-title { border-bottom-style:solid; }
.featured-product-grid .product-category .category-title { border-right-style:solid; }
.featured-product-grid .product-category .category-title { border-bottom-width:1px; }
.featured-product-grid .product-category .category-title { border-right-width:1px; }
.featured-product-grid .product-category .category-title { border-radius:2px; }
.featured-product-grid .product-category .category-title { border-radius:2px; }
.featured-product-grid .product-category .category-title { text-align:left; }
.featured-product-grid .product-category .category-title { border-right:#E5E4E0; }
.featured-product-grid .product-category .category-title { font-size:100%; }
.featured-product-grid .product-category .category-title { font-weight:bold; }
.order-summary-content .cart .cart-header-row th { border-right: #FFFFFF; }
.text-field { border-width:1px; }
.text-field { border-color:#CCCCCC; }
.text-field { border-style:solid; }
.text-field { font-size:116.67%; }
.dropdown-field { border-width:1px; }
.dropdown-field { border-color:#CCCCCC; }
.dropdown-field { border-style:solid; }
.dropdown-field { font-size:116.67%; }
.login-page .forgot-password { font-weight:bold; }
.availablestatus { color:green; }
.notavailablestatus { color:red; }
.search-panel table.adv-search { border-top:solid #D3D3D3 1px; }
.breadcrumb { font-weight:700; }
.breadcrumb { text-transform:uppercase; }
.breadcrumb { font-size:116.67%; }
.breadcrumb a { color:#3A3A3A; }
.breadcrumb a:hover { color:#F93; }
.inputfieldlabel { font-size:100%; }
#popup-window { background:none repeat scroll 0 0 #FFFFFF; }
#popup-window { border-radius:7px; }
#popup-window { box-shadow:0 2px 15px #808080; }
#popup-window #close-window-button { color:#ABABAB; }
#popup-window #close-window-button { background:#FFFFFF; }
#popup-window #close-window-button { border-style:none; }
#popup-window #close-window-button { font-size:83.33%; }
#popup-window #close-window-button { font-weight:bold; }
#popup-wait-message { background:#FFFFFF; }
#popup-wait-message { border:1px solid #CECECE; }
#popup-wait-message { border-radius:7px; }
.validation-summary-errors { color:red; }
.input-validation-error { border:solid 1px red !important; }
.block .listbox {  border-bottom-right-radius: 7px; }
.block .listbox {  border-bottom-left-radius: 7px; }
#cart-dropdown  { width:25%; }
#wishlist-dropdown   { width:25%; }
.header-dropdown-content { background:url(images/cart-dropdown-bkg-tile-v.png) repeat-y scroll center top transparent; }
.header-dropdown-buttons { opacity:0.8; }
.header-dropdown-buttons { height:24px; }
.header-dropdown-buttons a { color:#595858; }
.header-dropdown-buttons a { text-decoration:underline; }
.header-dropdown a.close { background:url(images/checkout-close-button.gif) no-repeat scroll 7px center transparent; }
.header-dropdown a.close { color:#ABABAB; }
.header-dropdown a.close { font-weight: bold; }
.header-dropdown a.close { text-transform: uppercase; }
#alert-dropdown { width:100%; }
.header-dropdown a.close { background:url(images/checkout-close-button.gif) no-repeat scroll 7px center transparent; }
.header-dropdown a.close { color:#ABABAB; }
.header-dropdown a.close { font-size: 83.33%; }
.header-dropdown a.close { font-weight: bold; }
.header-dropdown a.close { text-transform: uppercase; }
.header-dropdown h3  { color: #807442; }
.header-dropdown p  { color: #595858; }
.header-dropdown p  { lineheight: 20px; }
.header-dropdown p string { color: #9B642C; }
.minicart-item { color: #595858; }
.minicart-item-small { color: #595858; }
.minicart-item { font-size: 91.67%; }
.minicart-item a { color: #595858 !important; }
.minicart-item a { text-decoration: underline; }
.product-detail-price-summary .list-header { background: #DDDDDD; }
.product-detail-price-summary .old-price, .price, .condition { font-weight: bold; }
.product-detail-price-summary .availability { color: green; }
.product-detail-price-summary .unavailable { color: red; }
.buttonlight { text-align: center; }
.wishlistpage th a { color: #000000; }
.wishlistpage td.unavailable { color: red; }
.wishlistcontrolbutton  { color: #444444; }
.addtowishlistbutton  { color: #FFFFFF; }
.purchase-group .purchase-number, .purchase-date  { font-weight: bold; }
.buttondark { text-align: center; }
.buttonlight { text-align: center; }
.apply-credit .text-field { font-size: 100%; }
.sidebar { background: #FFFFFF; }
.sidebar { border-radius: 6px; }
.soliddarkboundingbox { border-color: #333333; }
.soliddarkboundingbox { border-style: solid; }
.soliddarkboundingbox { border-width: 1px; }
.sidebar .sidebar-grid-item  { font-size: 91.67%; }
.sidebar .sidebar-grid-item .picture { max-height: 125px; }
.sidebar .sidebar-grid-item .picture img { max-height: 125px; }
.sidebar .sidebar-grid-item .picture img { max-width: 125px; }
.sidebar .sidebar-grid-item .product-description { color: #000000; }
.sidebar-product-grid .sidebar-grid-item .product-description .product-artist { font-weight: bold; }
.title10Black { color: #000; }
.title10Black { font-weight: bold; }
.title10Black { font-size: 83.33%; }
.font10Black { color: #000; }
.font10Black { font-size: 83.33%; }
.bluetext { color: blue; }
.master-wrapper-center-1 { border-radius: 15px; }
.master-wrapper-center-2 { border-radius: 15px; }
.master-wrapper-center-3 { border-radius: 15px; }
.block .title { border-top-left-radius: 15px; }
.block .title { border-top-right-radius: 15px; }
.block-category-navigation .listbox .innerborder  { border-radius: 0px; }
.block-category-navigation .listbox ul.t-group { border-radius: 6px; }
.block-category-navigation .listbox li { border-radius: 4px; }
.collapsebar { background: #555555; }
.collapsebar { color: #FFF; }
.collapsebar a { color: #FFF; }
.collapsebar a { text-decoration: none; }
.alternatingrow { background: #EBEFF3; }
.alerttext { color: red; }
.alerttext { font-size: 100%; }
.lightgraybackground { background: #E2EAF4; }
.product-list-price { color: blue; }
.product-list-price { text-decoration: underline; }
#preview { color: #FFF; }
#preview { background: #333; }
#preview { border: 1px solid #ccc; }
.view-cart-button-disabled { color: #F93; }
.tableheaderdark { background: #555555; }
.tableheaderdark { color: #FFF; }
.tableheaderdark { font-weight: bold; }
.tableheaderlight { background: #F1F5FB; }
.tableheaderlight { border-color: #A5B3C5; }
.tableheaderlight { border-right-width: 1px; }
.tableheaderlight { border-bottom-width: 1px; }
.tableheaderlight { border-right-style: solid; }
.tableheaderlight { border-bottom-style: solid; }
.arrowup { background: url(images/uparrow.png) no-repeat center; }
.arrowdown { background: url(images/downarrow.png) no-repeat center; }
.arrowleft { background: url(images/leftarrow.png) no-repeat center; }
.arrowright { background: url(images/rightarrow.png) no-repeat center; }
.iconblock { min-width: 16px; }
.iconblock { min-height: 16px; }
.iconblock { max-width: 16px; }
.iconblock { max-height: 16px; }
.block-category-navigation .listbox .t-link   { color: black; }
.block-category-navigation .listbox .t-state-hover { color: darkblue; }
.header-links-wrapper { font-size: 100%; }
.purchase-contactus-popup { width: 50%; }
.purchase-contactus-popup { background: #FFF; }
.purchase-contactus-popup { box-shadow: 0 2px 15px #808080; }
.product-list .product-list-item .configuration-format { font-size:83.3%; }
.product-detail-price-summary .availability { font-size: 100%; }
.success-message { color: green; }
.header-links a { padding-left: 5px; }
.header-links a.account { font-weight: bold; }
.view-cart-button-disabled .ico-cart { padding-left: 20px; }
.addtowishlistbutton { background: #333; }
.addtowishlistbutton { border-color: #333; }
.checkoutbutton { font-size: 100%; }
.checkoutbutton { text-transform: uppercase; }
.continueshoppingbutton { font-size: 100%; }
.continueshoppingbutton { text-transform: uppercase; }
.cartheader-condition { width: 10%; }
.cartheader-picture { width: 10%; }
.cartheader-price { width: 10%; }
.cartheader-product { width: 50%; }
.cartheader-quantity { width: 10%; }
.cartheader-remove { width: 10%; }
.cartheader-sku { width: 10%; }
.cartheader-total { width: 5%; }
.cart-header-row { background: #FFFFFF; }
.cart-header-row { color: #000000; }
.cart-header-row { font-weight: normal; }
.cart-header-row { text-align: center; }
.updatecartbutton { font-size: 100%; }
.updatecartbutton { text-transform: uppercase; }
.checkout-page { margin: 0 0 0 10%; }
.collapsebar { text-transform: uppercase; }
.apply-credit .text-field { width: 10%; }
.featured-product-grid .product-grid-item .product-description .product-artist  { font-size:110%; }
.featured-product-grid .product-grid-item .product-price .condition  { text-transform:uppercase; }
.featured-product-grid .product-grid-item .product-description { padding:0; }
.homepagedetailsbutton:hover { background:#F80; }
.homepagedetailsbutton { padding:4px 4px 4px 4px; }
.homepagedetailsbutton { text-transform:uppercase; }
.featured-product-grid .product-grid-item { margin:4px 4px 10px 4px; }
.featured-product-grid .product-grid-item .picture  { text-align:left; }
.featured-product-grid .product-grid-item .product-price table  { margin:0; }
.featured-product-grid .product-grid-item .product-price .price  { padding:0; }
.featured-product-grid .product-grid-item .product-description .product-format  { margin:2px 0 0 0; }
.featured-product-grid .product-grid-item { text-align:left; }
.featured-product-grid .product-grid-item .product-description .product-title  { font-style:italic; }
.featured-product-grid .product-grid-item .product-description .product-title  { margin:2px 0 0 0; }
.field-validation-error { color: #FF0000; }
.font12Black { color: #000000; }
.font12Black { font-size: 100%; }
.footerblock { background:#FFFFFF; }
.footernewstextinput { font-size: 150%; }
.footernewstext { color: #FFFFFF; }
.footernewstext { font-style: italic; }
.footerblock .sitesectionlink { color:#000000; }
.footerblock .sitesectionlink { text-decoration:none; }
.footerblock .sitesectionlink { padding-top:5px; }
.footerblock .sitetitle { color:#000000; }
.footerblock .sitetitle { font-weight:bold; }
.footerblock .sitetitle { text-transform:uppercase; }
" form label.error, label.error { color: #FF0000; }"
" form label.error, label.error { font-style: italic; }"
.genreselectinnerborder { border-color: #FFFFFF; }
.genreselectlistboxfont { font-size: 100%; }
.genreselecttitle { background: #FFFFFF; }
.headeradblock {  background: #FFFFFF }
.headeradblock {  border-bottom-color: #333333 }
.headeradblock {  border-bottom-width: 5px }
.headeradblock {  border-bottom-style: solid }
.homepageheaderblock {  border-bottom-color: #333333 }
.homepageheaderblock {  border-bottom-width: 5px }
.homepageheaderblock {  border-bottom-style: solid }
.headeradblockcell {  border-right-color: #333333 }
.headeradblockcell {  border-right-style: solid }
.headeradblockcell {  border-right-width: 5px }
.credit-number { color: #000; }
.freq-buyer-points-number { color: #000; }
.headerloginbutton {  text-transform: uppercase }
.headerloginbutton {  display: inherit }
.headerloginbuttons {  display: inherit }
.header-link-logo { background: url(images/web_logo.png) no-repeat; } 
.headersignupbutton {  text-transform: uppercase }
.headersignupbutton {  display: inherit }
.headerimagelogo { max-height: 100%; }
.headerimagelogo { max-width: 527px; }
.headerimagelogo {  width: 100% }
.headermenu {  border-bottom: 5px solid #333333 }
.headermenu {  border-top: 5px solid #333333 }
.headermenumenu {  background: #FFFFFF }
.headermenumenu li {  background: none repeat scroll 0 0 #FFFFFF }
.headermenumenu li:hover {  background: #333333 }
.headermenumenu li:hover {  color: #FFFFFF }
.headermenumenu li {  color: #333333 }
.headermenumenu li {  font-size: 116.67% }
.headermenumenu li {  text-transform: uppercase }
.headermenumenu li {  font-weight: normal }
.headermenumenu {  padding: 15px 4px 15px 0 }
.headermenumenu li ul li {  background: #333 }
.headermenumenu li ul li:hover {  background: #666 }
.headermenumenu li ul li {  color: #FFF }
.headermenumenu li ul li {  font-size: 100% }
.headermenumenu li ul li {  text-transform: uppercase }
.headermenumenu {  text-align: left }
.headermenu {  text-align: left }
.featured-product-grid .product-category .category-title .seemore { text-decoration:none; }
.featured-product-grid .product-category .category-title .seemore { color:#000000; }
.featured-product-grid .product-category .category-title .seemore { font-size:75%; }
.featured-product-grid .product-category .category-title { text-transform:uppercase; }
.home-page-product-grid {  margin: 2% 0 0 2% }
input.error { border-color: #FF0000; }
input.error { border-style: dotted; }
input.error { border-width: 1px; }
.largebutton { cursor: pointer; }
.largebutton {  padding: 0.5em 2em 0.5em 2em }
.largebutton { padding-bottom: 1em; }
.largebutton { padding-left: 2em; }
.largebutton { padding-right: 2em; }
.largebutton { padding-top: 1em; }
.largebutton { text-transform: uppercase; }
.largebutton { vertical-align: middle; }
.leftcolumn {  border-right-color: #333333 }
.leftcolumn {  border-right-style: solid }
.leftcolumn {  border-right-width: 2px }
.leftmenuitem {  background: #FFFFFF }
.leftmenuitem:hover {  background: #333333 }
.leftmenuitem {  color: #333333 }
.leftmenuitem:hover {  color: #FFFFFF }
.leftmenuitem {  font-size: 110% }
.leftmenuitem {  font-weight: bold }
.leftmenuitem {  padding: 5% }
.leftmenu {  padding-left: 5% }
.leftmenutitle {  color: #000 }
.leftmenutitle {  font-size: 133% }
.leftmenutitle {  font-weight: bold }
.list-separator li:before {  content: ""| ""; }
.list-separator li {  color: #000 }
".list-separator li:first-child:before {  content: "" ""; }"
.loginlink {  display: none }
.master-responsive-main {  background: #FFFFFF }
.view-cart-button { color: #555; }
.product-details-info .overview { color: black; }
.productdetailsaddtobasketbutton { padding: 10px; }
.productdetailsaddtobasketbutton { text-transform: uppercase; }
.listpriceprice { text-decoration: line-through; }
.productdetailprimarypricebox { border-width: 2px; }
.productdetailprimaryprice { font-size: 150%; }
.productdetailprimaryprice { font-weight: bold; }
.productdetailsvariantprice { font-size: 110%; }
.productdetailsvariantprice { font-weight: bold; }
.search-result-more-info { text-align: center; }
.search-result-more-info { background: #333333; }
.search-result-more-info { color: #FFFFFF; }
.search-result-more-info { text-transform: uppercase; }
.search-result-more-info { font-weight: bold; }
.search-result-more-info div { padding: 10px 0 10px 0; }
.sidebar { border-width: 0px; }
.sidebar .sidebar-grid-item .product-format { font-size: 75%; }
.sidebar .sidebar-grid-item .product-title { font-size: 83.33%; }
.sidebar .sidebar-grid-item .product-title { font-style: italic; }
.sidebar { margin-left: 4px; }
.sidebar-product-artist { font-size: 116.67%; }
.sidebar-product-artist { font-weight: bold; }
.text-field { color: #000000; }
.text-field { font-style: normal; }
.text-field-not-focused { border-color: #CCCCCC; }
.text-field-not-focused { border-style: solid; }
.text-field-not-focused { border-width: 1px; }
.text-field-not-focused { color: #808080; }
.text-field-not-focused { font-size: 116.67%; }
.text-field-not-focused { font-style: italic; }
.text-field-not-focused { width: 90%; }
.wishlistpage th a { font-size: 120%; }
.wishlistpage th a { font-weight: normal; }
